/* 
   Global Reset
   Removes default browser spacing and uses border-box sizing
*/

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


/* 
   Base Page Styles
*/

body {
   font-family: "Roboto", sans-serif;
}

header,
footer {
   background-color: #0E5AA7;
   color: white;
}

h1,
h2,
footer {
   text-align: center;
}

.hero img {
   width: 100%;
   height: auto;
   display: block;
   border-bottom: 6px solid #0E5AA7;
}

section li {
   display: grid;
   grid-template-columns: 10em 1fr;
   margin: 1em 1em 1em 3em;
   text-align: left;
}

.label {
   text-align: right;
   margin-right: 1em;
}

#data {
   border-bottom: 1px solid rgba(13, 94, 175, 0.25);
}

#weather {
   margin-top: 1em;
}

#the-sun {
   display: block;
   margin: 0 auto;
}

footer {
   width: 100%;
   padding: 1em;
   margin: 0;
}